@font-face {
    font-family: "DorovarFLF-Carolus";
    src: url("fonts/dorcla__.ttf");
}
body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #000 !important;
}
/*--------------------------svg_styles----------------------------------*/
.st0 {
    fill: #E6E6E6;
}

.st1 {
    opacity: 0.51;
    fill: none;
}

.st2 {
    font-family: 'DorovarFLF-Carolus';
}

.st3 {
    font-size: 13.694px;
}

.st4 {
    font-size: 13.6939px;
}

.st5 {
    font-size: 13.6938px;
}

.st6 {
    font-size: 13.6935px;
}

.st7 {
    font-size: 13.6913px;
}

.st8 {
    font-size: 13.6914px;
}

.st9 {
    font-size: 13.6918px;
}

.st10 {
    font-size: 13.6919px;
}

.st11 {
    font-size: 13.6934px;
}

.st12 {
    font-size: 13.6937px;
}

.st13 {
    font-size: 13.6941px;
}

.st14 {
    font-size: 13.692px;
}

.st15 {
    font-size: 13.6912px;
}

.st16 {
    font-size: 13.6936px;
}

.st17 {
    fill: url(#Hour_ring_1_);
}

.st18 {
    font-size: 13.7055px;
}

.st19 {
    font-size: 13.6975px;
}

.st20 {
    font-size: 13.6863px;
}

.st21 {
    font-size: 13.6747px;
}

.st22 {
    font-size: 13.6656px;
}

.st23 {
    font-size: 13.6612px;
}

.st24 {
    font-size: 13.6627px;
}

.st25 {
    font-size: 13.6696px;
}

.st26 {
    font-size: 13.6802px;
}

.st27 {
    font-size: 13.6922px;
}

.st28 {
    font-size: 13.7021px;
}

.st29 {
    font-size: 13.7077px;
}

.st30 {
    fill: url(#Month_ring_1_);
}

.st31 {
    font-family: 'SegoeUI-Semibold';
}

.st32 {
    font-size: 9.9938px;
}

.st33 {
    font-size: 9.9715px;
}

.st34 {
    font-size: 9.9566px;
}

.st35 {
    font-size: 9.9622px;
}

.st36 {
    font-size: 9.9807px;
}

.st37 {
    font-size: 10.0014px;
}

.st38 {
    font-size: 9.9567px;
}

.st39 {
    font-size: 9.9716px;
}

.st40 {
    fill: url(#SVGID_1_);
}

.st41 {
    font-size: 16.8942px;
}

.st42 {
    font-size: 16.8892px;
}

.st43 {
    font-size: 16.8827px;
}

.st44 {
    font-size: 16.8744px;
}

.st45 {
    font-size: 16.8662px;
}

.st46 {
    font-size: 16.8566px;
}

.st47 {
    font-size: 16.8518px;
}

.st48 {
    font-size: 16.85px;
}

.st49 {
    font-size: 16.8516px;
}

.st50 {
    font-size: 16.8568px;
}

.st51 {
    font-size: 16.8663px;
}

.st52 {
    font-size: 16.8745px;
}

.st53 {
    font-size: 16.889px;
}

.st54 {
    font-size: 16.8958px;
}

.st55 {
    font-size: 16.8517px;
}

.st56 {
    font-size: 16.8496px;
}

.st57 {
    font-size: 16.8828px;
}

.st58 {
    fill: url(#SVGID_2_);
}

.st59 {
    fill: url(#SVGID_3_);
}

.st60 {
    enable-background: new;
}

.st61 {
    clip-path: url(#SVGID_5_);
    enable-background: new;
}

.st62 {
    fill: #B9B8B8;
}

.st63 {
    fill: #B7B6B6;
}

.st64 {
    fill: #B5B4B4;
}

.st65 {
    fill: #B3B2B2;
}

.st66 {
    fill: #B1B0B0;
}

.st67 {
    fill: #AFAEAE;
}

.st68 {
    fill: #ADACAC;
}

.st69 {
    fill: #ABAAAA;
}

.st70 {
    fill: #A8A8A8;
}

.st71 {
    fill: #A6A5A5;
}

.st72 {
    fill: #A4A3A3;
}

.st73 {
    fill: #A1A1A1;
}

.st74 {
    fill: #9F9E9E;
}

.st75 {
    fill: #9C9B9B;
}

.st76 {
    fill: #999999;
}

.st77 {
    fill: #969696;
}

.st78 {
    fill: #939393;
}

.st79 {
    fill: #908F8F;
}

.st80 {
    fill: #8D8C8C;
}

.st81 {
    fill: #898888;
}

.st82 {
    fill: #858484;
}

.st83 {
    fill: #818080;
}

.st84 {
    fill: #7C7B7B;
}

.st85 {
    fill: #767575;
}

.st86 {
    fill: #6E6E6E;
}

.st87 {
    fill: #605F5F;
}

.st88 {
    fill: #5C5B5B;
}

.st89 {
    fill: #5D5C5D;
}

.st90 {
    fill: #5F5E5E;
}

.st91 {
    fill: #616060;
}

.st92 {
    fill: #636262;
}

.st93 {
    fill: #646363;
}

.st94 {
    fill: #656464;
}

.st95 {
    fill: #666666;
}

.st96 {
    fill: #686767;
}

.st97 {
    fill: #696868;
}

.st98 {
    fill: #6A696A;
}

.st99 {
    fill: #6C6B6B;
}

.st100 {
    fill: #6D6C6C;
}

.st101 {
    fill: #6E6D6E;
}

.st102 {
    fill: #6F6F6F;
}

.st103 {
    fill: #717070;
}

.st104 {
    fill: #727171;
}

.st105 {
    fill: #737273;
}

.st106 {
    fill: #747474;
}

.st107 {
    fill: #777677;
}

.st108 {
    fill: #787878;
}

.st109 {
    fill: #7A7979;
}

.st110 {
    fill: #7B7A7B;
}

.st111 {
    fill: #7C7B7C;
}

.st112 {
    fill: #7D7D7D;
}

.st113 {
    fill: #7F7E7F;
}

.st114 {
    fill: #807F80;
}

.st115 {
    fill: #818181;
}

.st116 {
    fill: #838283;
}

.st117 {
    fill: #848384;
}

.st118 {
    fill: #858485;
}

.st119 {
    fill: #868686;
}

.st120 {
    fill: #888788;
}

.st121 {
    fill: #898889;
}

.st122 {
    fill: #8A8A8A;
}

.st123 {
    fill: #8C8B8C;
}

.st124 {
    fill: #8D8C8D;
}

.st125 {
    fill: #8E8D8E;
}

.st126 {
    fill: #8F8F90;
}

.st127 {
    fill: #919091;
}

.st128 {
    fill: #929192;
}

.st129 {
    fill: #939394;
}

.st130 {
    fill: #949495;
}

.st131 {
    fill: #969596;
}

.st132 {
    fill: #979797;
}

.st133 {
    fill: #989899;
}

.st134 {
    fill: #9A999A;
}

.st135 {
    fill: #9B9A9B;
}

.st136 {
    fill: #9C9C9D;
}

.st137 {
    fill: #9D9D9E;
}

.st138 {
    fill: #9F9E9F;
}

.st139 {
    fill: #A0A0A1;
}

.st140 {
    fill: #A1A1A2;
}

.st141 {
    fill: #A3A2A3;
}

.st142 {
    fill: #A4A3A5;
}

.st143 {
    fill: #A5A5A6;
}

.st144 {
    fill: #A6A6A7;
}

.st145 {
    fill: #A8A7A9;
}

.st146 {
    fill: #A9A9AA;
}

.st147 {
    fill: #AAAAAB;
}

.st148 {
    fill: #ABABAC;
}

.st149 {
    fill: #ADACAE;
}

.st150 {
    fill: #AEAEAF;
}

.st151 {
    fill: #AFAFB0;
}

.st152 {
    fill: #B1B0B2;
}

.st153 {
    fill: #B2B2B3;
}

.st154 {
    fill: #B3B3B4;
}

.st155 {
    fill: #B4B4B6;
}

.st156 {
    fill: #B6B5B7;
}

.st157 {
    fill: #B7B7B8;
}

.st158 {
    fill: #B8B8BA;
}

.st159 {
    fill: #BAB9BB;
}

.st160 {
    fill: #BBBBBC;
}

.st161 {
    fill: #BCBCBD;
}

.st162 {
    fill: #BABABA;
}

.st163 {
    fill: #BCBCBC;
}

.st164 {
    fill: #BEBEBE;
}

.st165 {
    fill: #C0BFBF;
}

.st166 {
    fill: #C2C1C1;
}

.st167 {
    fill: #C3C3C3;
}

.st168 {
    fill: #C5C5C5;
}

.st169 {
    fill: #C7C6C6;
}

.st170 {
    fill: #C8C8C8;
}

.st171 {
    fill: #CAC9C9;
}

.st172 {
    fill: #CBCBCB;
}

.st173 {
    fill: #CDCDCD;
}

.st174 {
    fill: #CECECE;
}

.st175 {
    fill: #D0D0D0;
}

.st176 {
    fill: #D1D1D1;
}

.st177 {
    fill: #D3D3D3;
}

.st178 {
    fill: #D4D4D4;
}

.st179 {
    fill: #D6D5D5;
}

.st180 {
    fill: #D7D7D7;
}

.st181 {
    fill: #D9D8D8;
}

.st182 {
    fill: #DADADA;
}

.st183 {
    fill: #DBDBDB;
}

.st184 {
    fill: #DDDCDC;
}

.st185 {
    fill: #DEDEDE;
}

.st186 {
    fill: #DFDFDF;
}

.st187 {
    fill: #E1E0E0;
}

.st188 {
    fill: #E2E2E2;
}

.st189 {
    fill: #E3E3E3;
}

.st190 {
    fill: #E5E4E4;
}

.st191 {
    clip-path: url(#SVGID_7_);
    enable-background: new;
}

.st192 {
    clip-path: url(#SVGID_9_);
    enable-background: new;
}

.st193 {
    clip-path: url(#SVGID_11_);
    enable-background: new;
}

.st194 {
    fill: url(#SVGID_12_);
}

.st195 {
    fill: none;
}

.st196 {
    fill: none;
    stroke: #000000;
    stroke-width: 0.25;
    stroke-miterlimit: 10;
}

.st197 {
    fill: #3A3A3A;
}

.st198 {
    opacity: 0.75;
}

.st199 {
    filter: url(#Adobe_OpacityMaskFilter);
}

.st200 {
    fill: url(#SVGID_14_);
}

.st201 {
    mask: url(#SVGID_13_);
    fill: url(#SVGID_15_);
}

.st202 {
    clip-path: url(#SVGID_17_);
    enable-background: new;
}

.st203 {
    fill: #BFBFBF;
}

.st204 {
    fill: #B8B8B8;
}

.st205 {
    fill: #B2B2B2;
}

.st206 {
    fill: #ABABAB;
}

.st207 {
    fill: #A5A5A5;
}

.st208 {
    fill: #9E9E9E;
}

.st209 {
    fill: #989898;
}

.st210 {
    fill: #919191;
}

.st211 {
    fill: #8B8B8B;
}

.st212 {
    fill: #848484;
}

.st213 {
    fill: #7E7E7E;
}

.st214 {
    fill: #777777;
}

.st215 {
    fill: #717171;
}

.st216 {
    fill: #6A6A6A;
}

.st217 {
    fill: #646464;
}

.st218 {
    fill: #5D5D5D;
}

.st219 {
    fill: #565656;
}

.st220 {
    fill: #505050;
}

.st221 {
    fill: #494949;
}

.st222 {
    fill: #434343;
}

.st223 {
    fill: #3C3C3C;
}

.st224 {
    fill: #363636;
}

.st225 {
    fill: #2F2F2F;
}

.st226 {
    fill: #CCCCCC;
}

.st227 {
    fill: #D5D5D5;
}

.st228 {
    fill: #D6D6D6;
}

.st229 {
    fill: #D8D8D8;
}

.st230 {
    fill: #D9D9D9;
}

.st231 {
    fill: #DCDCDC;
}

.st232 {
    fill: #DDDDDD;
}

.st233 {
    fill: #525252;
}

.st234 {
    fill: url(#SVGID_18_);
}

/*---------------------main_style------------------------------*/
svg {
    position: relative;
    width: 50vW;
    left: 50%;
    opacity: 0;
    text-rendering: optimizeSpeed;
    color-rendering: optimizeSpeed;
    shape-rendering: optimizeSpeed;
}
.ui-page {
    background: #000 !important;
}

#barometer_output {
    position:relative;
    top: 10%;
    color: #f00;
}
@media screen and (max-width: 480px) {
    svg {
        position: relative;
        width: 98vW;
        left: 50%;
    }
}



