body {
    /* Uncomment this to enable scrolling and zooming
  touch-action: manipulation;
  */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #000 !important;
}


.ui-page {
    background: #000 !important;
}

@media screen and (max-width: 480px) {
    
}



