body {
    touch-action: none;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main_page {
    overflow: hidden;
    background-color: transparent !important;
}

nav {
    position: fixed;
    width: 100vw;
    background: #ccc;
}

#tabs {
    width: 100%;
    background: #aaa;
    list-style: none;
    padding: 0;
    margin: 0;
}

    #tabs .tab {
        float: left;
        height: 36px;
        width: 45%;
        background: #777;
    }

    #tabs #settings_btn {
        position: relative;
        width: 10%;
        background: #333;
    }

        #tabs #settings_btn span {
            position: absolute;
            width: 30px;
            height: 2px;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background: #fff;
        }

            #tabs #settings_btn span:first-of-type {
                top: 30%;
            }

            #tabs #settings_btn span:last-of-type {
                top: 70%;
            }

    #tabs .tab > a {
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        line-height: 36px;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }


#settings {
    position: fixed;
    visibility: hidden;
    top: 36px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

#settings_back {
    width: 100%;
    height: 100%;
}

#settings_front {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    color: #fff;
    text-shadow: none;
    padding: 3% 3%;
    box-sizing: border-box;
    background: #000;
    visibility: visible;
    transform: translate(-100%, 0);
    transition: transform linear 500ms, top ease-out 250ms;
}

    #settings_front .settings_item {
        padding: 10px 0px;
        border-bottom: 1px dotted rgba(70, 70, 70, 1);
    }

    #settings_front label:first-child {
        display: inline-block;
        margin: 0 !important;
        padding: 0 !important;
    }

.settings_footer {
    position: relative;
    top: 75%;
    transform: translate(0%, -100%);
    border-top: 1px dotted rgba(70, 70, 70, 1);
    padding: 3% 0px;
}

    .settings_footer span {
        display: block;
    }

.settings_item div {
    position: relative;
    top: 0px;
    float: right;
    width: 40px;
    height: 22px;
    right: 10px;
}

.settings_item div input {
    width: 40px;
    padding: 0px 0px !important;
}

#shadows {
    position: relative;
    height: 20px !important;
    width: 20px !important;
    right: 15px !important;
    top: -2px !important;
    opacity: 1;
    float: right;
}


#page_1, #page_2 {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: -1;
}

#page_2 {
    left: 100vw;
}

#page_2_content {
    position: relative;
    min-height: 200px;
    width: 50%;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
    padding: 10px;
}

.page_2_section {
    min-height: 100px;
    color: #fff;
    text-shadow: none;
    text-align: center;
    padding: 0px 10px 10px 10px;
    margin: 0px 0px 10px 0px;
    box-sizing: border-box;
}

    .page_2_section:nth-of-type(n+2) {
        border-top: 1px solid #fff;
    }

.page_2_preasure span {
    display: block;
}







#barometer {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50vw;
    transform: translate(-50%, 0%);
    border-radius: 50%;
    overflow: hidden;
}

#barometer_body, #minutes, #hours, #months, #days, #main_arrow, #statistic_arrow {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#minutes, #hours, #months, #days {
    border-radius: 50%;
    transform-origin: 0% 0%;
}

#barometer_body {
    background: url("../images/Barometer_body.png") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
}

#minutes {
    width: 430px;
    height: 430px;
    background: url("../images/Barometer_minutes.png") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: -4;
}

#hours {
    width: 386px;
    height: 386px;
    background: url("../images/Barometer_hours.png") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: -3;
}

#months {
    width: 346px;
    height: 346px;
    background: url("../images/Barometer_months.png") no-repeat;
    background-position: center center;
    background-size: 100% 100%;
    z-index: -2;
}

.months_ru {
    background: url("../images/Barometer_months_ru.png") no-repeat !important;
    background-position: center center !important;
    background-size: 100% 100% !important;
}

#days {
    width: 317px;
    height: 317px;
    background: url("../images/Barometer_days.png") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    z-index: -1;
}

#arrows {
    position: absolute;
    width: 100%;
    height: 100%;
}

#main_arrow {
    width: 32px;
    height: 312px;
    top: 44%;
    transform-origin: 0% 10%;
    transform: rotate(0deg) translate(-50%, -50%);
    transition: transform linear 250ms;
}

#main_arrow_body {
    position: relative;
    width: 2px;
    height: 0px;
    left: 50%;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 308px solid #000;
    transform: translate(-50%, 0%);
}

#main_arrow_tale {
    position: absolute;
    width: 100%;
    height: 10%;
    top: 97.5%;
    border-top: 5px solid #000;
    border-radius: 50%;
}

#statistic_arrow {
    width: 1px;
    height: 0px;
    top: 31.5%;
    border-left: 2px solid transparent;
    border-right: 2px solid transparent;
    border-bottom: 186px solid rgba(0, 120, 255, 1);
    background: none;
    opacity: 0;
    transform-origin: 0% 50%;
    transform: rotate(0deg) translate(-50%, -50%);
}

#lighting {
    position: absolute;
    width: 5%;
    height: 15.4%;
    top: 76.6%;
    left: 50%;
    transform: translate(-50%, 0%);
    border-radius: 20px;
    box-shadow: inset 0px 0px 0px 0px rgba(0, 100, 255, .5);
}

#button {
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../images/Barometer_button.png") no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}



@media screen and (max-width: 480px) {
    #barometer {
        position: relative;
        width: 98vW;
        height: 98vW;
    }

    #main_arrow_tale {
        border-radius: 48%;
    }
}
